@tailwind base;
@tailwind components;
@tailwind utilities;

.titleMain {
  @apply text-4xl font-extrabold tracking-tight leading-10 text-gray-600 text-center;
}

.subTitle {
  @apply text-2xl font-bold text-gray-600 text-center;
}
.containerFull {
  @apply bg-white flex flex-col w-full py-12 border-y px-2 gap-y-6;
}

.containerCenter {
  @apply flex max-w-5xl justify-center mx-auto;
}

.pCenter {
  @apply text-lg lg:text-xl font-normal text-gray-500 text-center;
}

.pLeft {
  @apply text-base text-gray-500 text-justify;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-240px * 7.5));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-240px * 7.5));
  }
}
.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1400px;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 50px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(240px * 15);
}
.slider .slide {
  height: 70px;
  width: 240px;
}
