@tailwind base;
@tailwind components;
@tailwind utilities;

/* .react-multiple-carousel__arrow {
  z-index: 20 !important;
} */

body {
  background-color: white;
}

/* .homebg {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */
